/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}



.mat-card-vertical-calender {
  width: 87%;
  height: 350px;
  margin: 33px 5px 0px 15px !important;

  border: 1px solid gainsboro;
  border-radius: 15px;
  box-shadow: 0px 4px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

.mat-calendar-body-label {
  padding-top: 0px !important;
}

.mat-card-vertical {
  width: 94%;
  height: 300px;
  margin: 2%;
  border: 1px solid gainsboro;
  border-radius: 15px;
  box-shadow: 0px 4px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

.submit-button{
  width:200px;
  color:white;
  background-color: dodgerblue;
  margin:auto 10px !important;
  height: 42px
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:dodgerblue;
}

td.mat-cell{
  color:#707683;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}
td.mat-header-cell{
  color:#334D6E;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}
