<mat-card class="mat-card-check-student-attendance">
  <mat-card-title class="check-student-attendance-title">
    <span *ngIf="AdminTeacher">Check teacher's attendance</span>
    <span *ngIf="!AdminTeacher">Check student's attendance</span>
  </mat-card-title>
  <div fxLayout fxLayoutAlign="space-between center">
    <div fxLayout fxFlex="50">
      <div class="input-shadow-effect">
        <label class="label">Name:</label>
        <mat-form-field class="student-name-input">
          <input matInput (keyup)="OnChange($event)" #input class="input-name">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout fxFlex="50" style="position: relative; left: 30px;">
      <label class="attendance-label">Attendance:</label>
      <span class="attendance-value">{{ percent }}</span>
    </div>
  </div>
<!--     <mat-card-title class="check-student-attendance-title">Check student's attendance</mat-card-title>
    <div fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxFlex="50" fxLayoutAlign="start center" >
            <label class="label">Name:</label>
            <mat-form-field  appearance="outline" class="student-name-input">
                <input matInput #studentName (keydown.enter)="getStudentAttendance(studentName.value)" 
                placeholder="Enter Name" 
                name="search" >
            </mat-form-field>
        </div>
        <div fxLayout fxFlex="50" fxLayoutAlign="end center">
            <label class="attendance-label">Attendance:</label>
            
            <span *ngIf="attendancePercent" class="attendance-value">{{attendancePercent}}%</span>
        </div>
    </div> 

    <div class="table-container-check-student-attendance">
        <table mat-table [dataSource]="dataSource"> -->
      
          <!-- Leaves Column -->
<!--           <ng-container matColumnDef="attendance_date">
            <th mat-header-cell *matHeaderCellDef> Leaves </th>
            <td mat-cell *matCellDef="let element"> {{element.attendance_date}} </td>
          </ng-container> -->
      
          <!-- Acknowledged Column -->
<!--           <ng-container matColumnDef="acknowledged">
            <th mat-header-cell *matHeaderCellDef> Acknowledged </th>
            <td mat-cell *matCellDef="let element"> {{element.acknowledged}} </td>
          </ng-container> -->

  <div class="table-container-check-student-attendance">
    <table mat-table [dataSource]="dataSource">

      <!-- Leaves Column -->
      <ng-container matColumnDef="leaves">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-heading">Leaves</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="dark-font">{{element.leaves | date}}</span>
        </td>
      </ng-container>

      <!-- Acknowledged Column -->

      <ng-container matColumnDef="acknowledged">
        <th mat-header-cell *matHeaderCellDef>
          <span *ngIf="!AdminTeacher" class="table-heading">Acknowledged</span>
          <span *ngIf="AdminTeacher" class="table-heading">Type of leave</span>
        </th>
        <td mat-cell *matCellDef="let element"><span class="dark-font">
            {{element.acknowledged}}</span> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>