.mat-card-leave-record{
    margin: 2%;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-family: Poppins;
}
.leave-record-title{
    font-weight: 600;
    font-family: Poppins;
    font-size: 15px;
}
.progress-bar{
    height: 8px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.value{
    color: darkgray;
    font-size: 12px;
}
.label{
    font-size: 12px;
}